@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background-image: url("/src/assets/pexels-matheus-bertelli-18966469\ 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -110px;
}

.productsMain {
    background-image:url("/src/assets/Rectangle\ 167.svg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    top: -110px;
}

.Inter {
    font-family: 'Inter';
}

.hammer {
    font-family: "Hammersmith One";
}

.readex {
    font-family: "Readex Pro";
}

.ul_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.containerrr {
    position: relative;
    /* width: 100%;
    height: 200px; */
}

.bottom-button {
    position: absolute;
    bottom: 0;
    left: 42%;
    transform: translateX(-50%);
}

.bottom {
    border-bottom: 1px dashed #6A6969;
}

.loader {
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
    left: 500px;
}

.loader:after,
.loader:before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    background: #0BA42D;
    animation: spin 1s linear infinite;
    transform-origin: 0px 100%;
}

.loader:before {
    transform-origin: 0 50%;
    background: #fff;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}